<app-header></app-header>
<br>
<br>
<h5>Delete Expense</h5>
<br>
<div>Select Expense to be Deleted:</div>
<ng-container *ngFor="let expense of expenses">
    <div class="form-check">
        <input type="radio" class="form-check-input" [value]="expense.id" [(ngModel)]="selectedExpense">
        <label>Expense
            of amount {{ expense.amount }} 
            of type {{ expense.type }}
            with description {{ expense.description }}
        </label>    
    </div>
</ng-container>
<br>
<button name="Delete" class="btn btn-danger" (click)='deleteExpense()'>Delete</button>
